# Testing Neo4j graph on current BART model

University of California, Berkeley

Master of Information and Data Science (MIDS) program

w205 - Fundamentals of Data Engineering

# Included Modules and Packages

Code cell containing your includes for modules and packages

Some starter code is provided

You may change the starter code as needed

You may add as much code and/or as many code cells as you need

In [1]:
import math
import numpy as np
import pandas as pd

import psycopg2

import neo4j

import csv

from geographiclib.geodesic import Geodesic

# Supporting code

Code cells containing any supporting code, such as connecting to the database, any functions, etc.  

Remember you can freely use any code from the labs. You do not need to cite code from the labs.

Some starter code is provided

You may change the starter code as needed

You may add as much code and/or as many code cells as you need

In [2]:
driver = neo4j.GraphDatabase.driver(uri="neo4j://neo4j:7687", auth=("neo4j","ucb_mids_w205"))

In [3]:
session = driver.session(database="neo4j")

In [4]:
def my_neo4j_wipe_out_database():
    "wipe out database by deleting all nodes and relationships"
    
    query = "match (node)-[relationship]->() delete node, relationship"
    session.run(query)
    
    query = "match (node) delete node"
    session.run(query)

In [5]:
def my_select_query_pandas(query, rollback_before_flag, rollback_after_flag):
    "function to run a select query and return rows in a pandas dataframe"
    
    if rollback_before_flag:
        connection.rollback()
    
    df = pd.read_sql_query(query, connection)
    
    if rollback_after_flag:
        connection.rollback()
    
    # fix the float columns that really should be integers
    
    for column in df:
    
        if df[column].dtype == "float64":

            fraction_flag = False

            for value in df[column].values:
                
                if not np.isnan(value):
                    if value - math.floor(value) != 0:
                        fraction_flag = True

            if not fraction_flag:
                df[column] = df[column].astype('Int64')
    
    return(df)

In [6]:
def my_neo4j_create_node(station_name):
    "create a node with label Station"
    
    query = """
    
    CREATE (:Station {name: $station_name})
    
    """
    
    session.run(query, station_name=station_name)

In [7]:
def my_neo4j_create_relationship_two_way(from_station, to_station, weight):
    "create relationships two way between two stations with a weight"
    
    query = """
    
    MATCH (from:Station), 
          (to:Station)
    WHERE from.name = $from_station and to.name = $to_station
    CREATE (from)-[:LINK {weight: $weight}]->(to),
           (to)-[:LINK {weight: $weight}]->(from)
    
    """
    
    session.run(query, from_station=from_station, to_station=to_station, weight=weight)

In [8]:
def my_calculate_box(point, miles):
    "Given a point and miles, calculate the box in form left, right, top, bottom"
    
    geod = Geodesic.WGS84

    kilometers = miles * 1.60934
    meters = kilometers * 1000

    g = geod.Direct(point[0], point[1], 270, meters)
    left = (g['lat2'], g['lon2'])

    g = geod.Direct(point[0], point[1], 90, meters)
    right = (g['lat2'], g['lon2'])

    g = geod.Direct(point[0], point[1], 0, meters)
    top = (g['lat2'], g['lon2'])

    g = geod.Direct(point[0], point[1], 180, meters)
    bottom = (g['lat2'], g['lon2'])
    
    return(left, right, top, bottom)

In [9]:
def my_station_get_zips(station, miles):
    "given a station, pull all zip codes with miles distance, print them, sum the population"
    
    connection.rollback()
    
    query = "select latitude, longitude from stations "
    query += "where station = '" + station + "'"
    
    cursor.execute(query)
    
    connection.rollback()
    
    rows = cursor.fetchall()
    
    for row in rows:
        latitude = row[0]
        longitude = row[1]
        
    point = (latitude, longitude)
        
    (left, right, top, bottom) = my_calculate_box(point, miles)
    
    query = "select zip, population from zip_codes "
    query += " where latitude >= " + str(bottom[0])
    query += " and latitude <= " + str(top [0])
    query += " and longitude >= " + str(left[1])
    query += " and longitude <= " + str(right[1])
    query += " order by 1 "

    cursor.execute(query)
    
    connection.rollback()
    
    rows = cursor.fetchall()
    
    print("\n-------------------------------------------------------------------------------")
    print("  Zip Codes within " + str(miles) + " mile(s) of " + station + " BART Station")
    print("-------------------------------------------------------------------------------\n")
    
    total_population = 0
    
    for row in rows:
        zip = row[0]
        population = row[1]
        print("     zip:", zip, "  population: ", f'{population:10,}')
        total_population += population
        
    
    print("\n-------------------------------------------------------------------------------")
    print("  Total Population: ", f'{total_population:10,}')
    print("-------------------------------------------------------------------------------")

In [10]:
def my_neo4j_number_nodes_relationships():
    "print the number of nodes and relationships"
   
    
    query = """
        match (n) 
        return n.name as node_name, labels(n) as labels
        order by n.name
    """
    
    df = my_neo4j_run_query_pandas(query)
    
    number_nodes = df.shape[0]
    
    
    query = """
        match (n1)-[r]->(n2) 
        return n1.name as node_name_1, labels(n1) as node_1_labels, 
            type(r) as relationship_type, n2.name as node_name_2, labels(n2) as node_2_labels
        order by node_name_1, node_name_2
    """
    
    df = my_neo4j_run_query_pandas(query)
    
    number_relationships = df.shape[0]
    
    print("-------------------------")
    print("  Nodes:", number_nodes)
    print("  Relationships:", number_relationships)
    print("-------------------------")

In [11]:
def my_neo4j_run_query_pandas(query, **kwargs):
    "run a query and return the results in a pandas dataframe"
    
    result = session.run(query, **kwargs)
    
    df = pd.DataFrame([r.values() for r in result], columns=result.keys())
    
    return df

In [12]:
connection = psycopg2.connect(
    user = "postgres",
    password = "ucb",
    host = "postgres",
    port = "5432",
    database = "postgres"
)

In [13]:
cursor = connection.cursor()

# Wipe out the Neo4j database

Call the function my_neo4j_wipe_out_database() to wipe out the Neo4j database

In [14]:
my_neo4j_wipe_out_database()

# Verify the number of nodes and relationships

In [15]:
my_neo4j_number_nodes_relationships()

-------------------------
  Nodes: 0
  Relationships: 0
-------------------------

# Find all zip codes, with population, within 1 mile of the Downtown Berkeley station

Our stations table has each station, along with the latitude and longitude point for the station

The function above my_station_get_zips() takes a station name and X miles (which can be decimal such as 1.5) and finds all zip codes whose geograpic center lies within a box X miles from the station along with the population and the total population

Zip code data is pulled from the zip_codes table

Week 2 has an optional module that covers geodesic distance calculation and how to use the box method

## Since this is the first one, a solution code cell is provided for you to execute and then pattern the rest after

In [11]:
my_station_get_zips('Downtown Berkeley', 1)

-------------------------------------------------------------------------------
  Zip Codes within 1 mile(s) of Downtown Berkeley BART Station
-------------------------------------------------------------------------------

     zip: 94702   population:      17,092
     zip: 94703   population:      21,937
     zip: 94704   population:      29,190
     zip: 94709   population:      11,740
     zip: 94720   population:       2,971

-------------------------------------------------------------------------------
  Total Population:      82,930
-------------------------------------------------------------------------------

# Find all zip codes, with population, within 1, 2, 3, 4, and 5 miles of the Downtown Berkeley station

Write a loop to call the function my_station_get_zips() for each of 1, 2, 3, 4, and 5 miles

In [12]:
for miles in range(1,6):
    my_station_get_zips('Downtown Berkeley', miles)

-------------------------------------------------------------------------------
  Zip Codes within 1 mile(s) of Downtown Berkeley BART Station
-------------------------------------------------------------------------------

     zip: 94702   population:      17,092
     zip: 94703   population:      21,937
     zip: 94704   population:      29,190
     zip: 94709   population:      11,740
     zip: 94720   population:       2,971

-------------------------------------------------------------------------------
  Total Population:      82,930
-------------------------------------------------------------------------------

-------------------------------------------------------------------------------
  Zip Codes within 2 mile(s) of Downtown Berkeley BART Station
-------------------------------------------------------------------------------

     zip: 94618   population:      17,041
     zip: 94702   population:      17,092
     zip: 94703   population:      21,937
     zip: 94704   population:      29,190
     zip: 94705   population:      13,365
     zip: 94706   population:      21,040
     zip: 94707   population:      11,916
     zip: 94709   population:      11,740
     zip: 94710   population:       7,461
     zip: 94720   population:       2,971

-------------------------------------------------------------------------------
  Total Population:     153,753
-------------------------------------------------------------------------------

-------------------------------------------------------------------------------
  Zip Codes within 3 mile(s) of Downtown Berkeley BART Station
-------------------------------------------------------------------------------

     zip: 94608   population:      30,289
     zip: 94609   population:      22,811
     zip: 94618   population:      17,041
     zip: 94702   population:      17,092
     zip: 94703   population:      21,937
     zip: 94704   population:      29,190
     zip: 94705   population:      13,365
     zip: 94706   population:      21,040
     zip: 94707   population:      11,916
     zip: 94708   population:      11,455
     zip: 94709   population:      11,740
     zip: 94710   population:       7,461
     zip: 94720   population:       2,971

-------------------------------------------------------------------------------
  Total Population:     218,308
-------------------------------------------------------------------------------

-------------------------------------------------------------------------------
  Zip Codes within 4 mile(s) of Downtown Berkeley BART Station
-------------------------------------------------------------------------------

     zip: 94530   population:      25,754
     zip: 94608   population:      30,289
     zip: 94609   population:      22,811
     zip: 94611   population:      39,384
     zip: 94618   population:      17,041
     zip: 94702   population:      17,092
     zip: 94703   population:      21,937
     zip: 94704   population:      29,190
     zip: 94705   population:      13,365
     zip: 94706   population:      21,040
     zip: 94707   population:      11,916
     zip: 94708   population:      11,455
     zip: 94709   population:      11,740
     zip: 94710   population:       7,461
     zip: 94720   population:       2,971

-------------------------------------------------------------------------------
  Total Population:     283,446
-------------------------------------------------------------------------------

-------------------------------------------------------------------------------
  Zip Codes within 5 mile(s) of Downtown Berkeley BART Station
-------------------------------------------------------------------------------

     zip: 94530   population:      25,754
     zip: 94563   population:      19,341
     zip: 94602   population:      29,933
     zip: 94607   population:      26,254
     zip: 94608   population:      30,289
     zip: 94609   population:      22,811
     zip: 94610   population:      31,496
     zip: 94611   population:      39,384
     zip: 94612   population:      16,062
     zip: 94618   population:      17,041
     zip: 94702   population:      17,092
     zip: 94703   population:      21,937
     zip: 94704   population:      29,190
     zip: 94705   population:      13,365
     zip: 94706   population:      21,040
     zip: 94707   population:      11,916
     zip: 94708   population:      11,455
     zip: 94709   population:      11,740
     zip: 94710   population:       7,461
     zip: 94720   population:       2,971
     zip: 94804   population:      41,510

-------------------------------------------------------------------------------
  Total Population:     448,042
-------------------------------------------------------------------------------

# Louvain Modularity algorithm

In [14]:
query = "CALL gds.graph.drop('ds_graph', false)"
session.run(query)

query = "CALL gds.graph.project('ds_graph', 'Station', 'LINK', {relationshipProperties: 'weight'})"
session.run(query)

In [15]:
query = """

CALL gds.louvain.stream('ds_graph')
YIELD nodeId, communityId, intermediateCommunityIds
RETURN gds.util.asNode(nodeId).name AS name, communityId as community, intermediateCommunityIds as intermediate_community
ORDER BY community, name ASC

"""

my_neo4j_run_query_pandas(query)

                    name  community intermediate_community
0     arrive 12th Street         10                   None
1     arrive 19th Street         10                   None
2       arrive MacArthur         10                   None
3     depart 12th Street         10                   None
4     depart 19th Street         10                   None
..                   ...        ...                    ...
209     orange Berryessa         96                   None
210       orange Fremont         96                   None
211      orange Milpitas         96                   None
212    orange Union City         96                   None
213  orange Warm Springs         96                   None

[214 rows x 3 columns]

In [16]:
query = """

CALL gds.louvain.stream('ds_graph')
YIELD nodeId, communityId, intermediateCommunityIds
WITH gds.util.asNode(nodeId) AS node, communityId, intermediateCommunityIds
WHERE communityId = 10
RETURN node.name AS name, communityId AS community, intermediateCommunityIds AS intermediate_community
ORDER BY community, name ASC

"""

my_neo4j_run_query_pandas(query)

                  name  community intermediate_community
0   arrive 12th Street         10                   None
1   arrive 19th Street         10                   None
2     arrive MacArthur         10                   None
3   depart 12th Street         10                   None
4   depart 19th Street         10                   None
5     depart MacArthur         10                   None
6   orange 12th Street         10                   None
7   orange 19th Street         10                   None
8     orange MacArthur         10                   None
9      red 12th Street         10                   None
10     red 19th Street         10                   None
11       red MacArthur         10                   None
12  yellow 12th Street         10                   None
13  yellow 19th Street         10                   None
14    yellow MacArthur         10                   None

In [17]:
query = """

CALL gds.louvain.stream('ds_graph')
YIELD communityId
RETURN count(DISTINCT communityId) AS totalCommunities

"""

my_neo4j_run_query_pandas(query)

   totalCommunities
0                11

# Simplified graph for Louvain Modularity

In [27]:
my_neo4j_wipe_out_database()

In [16]:
connection.rollback()

query = """

select station
from stations
order by station

"""

cursor.execute(query)

connection.rollback()

rows = cursor.fetchall()

for row in rows:
    
    station = row[0]
    
    my_neo4j_create_node(station)

# Verifying number of nodes and relationships

In [17]:
my_neo4j_number_nodes_relationships()

-------------------------
  Nodes: 50
  Relationships: 0
-------------------------

# Looking at query

In [18]:
rollback_before_flag = True
rollback_after_flag = True

query = """

(
select distinct a.station as from_station, b.station as to_station, t.travel_time
from lines a
  join lines b
    on a.line = b.line and b.sequence = (a.sequence + 1)
  join travel_times t
    on (a.station = t.station_1 and b.station = t.station_2)
        or (a.station = t.station_2 and b.station = t.station_1)
where a.station < b.station
)
UNION
(
select distinct b.station as from_station, a.station as to_station, t.travel_time
from lines a
  join lines b
    on a.line = b.line and b.sequence = (a.sequence + 1)
  join travel_times t
    on (a.station = t.station_1 and b.station = t.station_2)
        or (a.station = t.station_2 and b.station = t.station_1)
where a.station > b.station
)
order by 1, 2, 3

"""

my_select_query_pandas(query, rollback_before_flag, rollback_after_flag)

            from_station           to_station  travel_time
0            12th Street          19th Street          120
1            12th Street         Lake Merritt          180
2            12th Street         West Oakland          300
3    16th Street Mission  24th Street Mission          120
4    16th Street Mission         Civic Center          180
5            19th Street            MacArthur          180
6    24th Street Mission            Glen Park          180
7                Antioch     Pittsburg Center          420
8                  Ashby    Downtown Berkeley          180
9                  Ashby            MacArthur          240
10           Balboa Park            Daly City          240
11           Balboa Park            Glen Park          120
12              Bay Fair        Castro Valley          240
13              Bay Fair              Hayward          240
14              Bay Fair          San Leandro          240
15             Berryessa             Milpitas          300
16         Castro Valley          West Dublin          600
17          Civic Center        Powell Street           60
18              Coliseum            Fruitvale          240
19              Coliseum                  OAK          480
20              Coliseum          San Leandro          240
21                 Colma            Daly City          240
22                 Colma  South San Francisco          180
23               Concord        North Concord          180
24               Concord        Pleasant Hill          360
25     Downtown Berkeley       North Berkeley          120
26                Dublin          West Dublin          180
27  El Cerrito del Norte     El Cerrito Plaza          180
28  El Cerrito del Norte             Richmond          300
29      El Cerrito Plaza       North Berkeley          180
30           Embarcadero    Montgomery Street           60
31           Embarcadero         West Oakland          420
32               Fremont           Union City          300
33               Fremont         Warm Springs          360
34             Fruitvale         Lake Merritt          300
35               Hayward        South Hayward          240
36             Lafayette               Orinda          300
37             Lafayette         Walnut Creek          300
38          Lake Merritt         West Oakland          360
39             MacArthur            Rockridge          240
40              Millbrae            San Bruno          420
41              Millbrae                  SFO          300
42              Milpitas         Warm Springs          540
43     Montgomery Street        Powell Street          120
44         North Concord            Pittsburg          360
45                Orinda            Rockridge          300
46             Pittsburg     Pittsburg Center          600
47         Pleasant Hill         Walnut Creek          120
48             San Bruno                  SFO          240
49             San Bruno  South San Francisco          240
50         South Hayward           Union City          300

# Creating a relationship for each segment both ways

In [19]:
connection.rollback()

query = """

(
select distinct a.station as from_station, b.station as to_station, t.travel_time
from lines a
  join lines b
    on a.line = b.line and b.sequence = (a.sequence + 1)
  join travel_times t
    on (a.station = t.station_1 and b.station = t.station_2)
        or (a.station = t.station_2 and b.station = t.station_1)
where a.station < b.station
)
UNION
(
select distinct b.station as from_station, a.station as to_station, t.travel_time
from lines a
  join lines b
    on a.line = b.line and b.sequence = (a.sequence + 1)
  join travel_times t
    on (a.station = t.station_1 and b.station = t.station_2)
        or (a.station = t.station_2 and b.station = t.station_1)
where a.station > b.station
)
order by 1, 2, 3

"""

cursor.execute(query)

connection.rollback()

rows = cursor.fetchall()

for row in rows:
    
    from_station = row[0]
    to_station = row[1]
    travel_time = int(row[2])
    
    my_neo4j_create_relationship_two_way(from_station, to_station, travel_time)

# Verifying the number of nodes and relationships

In [20]:
my_neo4j_number_nodes_relationships()

-------------------------
  Nodes: 50
  Relationships: 102
-------------------------

# Louvain Modularity algorithm on simplified graph

In [21]:
query = "CALL gds.graph.drop('ds_graph', false)"
session.run(query)

query = "CALL gds.graph.project('ds_graph', 'Station', 'LINK', {relationshipProperties: 'weight'})"
session.run(query)

In [22]:
query = """

CALL gds.louvain.stream('ds_graph', {includeIntermediateCommunities: true})
YIELD nodeId, communityId, intermediateCommunityIds
RETURN gds.util.asNode(nodeId).name AS name, communityId as community, intermediateCommunityIds as intermediate_community
ORDER BY community, name ASC

"""

my_neo4j_run_query_pandas(query)

                    name  community intermediate_community
0                  Ashby          2                [15, 2]
1      Downtown Berkeley          2                [15, 2]
2       El Cerrito Plaza          2                [38, 2]
3   El Cerrito del Norte          2                [38, 2]
4         North Berkeley          2                [15, 2]
5               Richmond          2                [38, 2]
6    16th Street Mission         10                [3, 10]
7    24th Street Mission         10                [3, 10]
8           Civic Center         10               [10, 10]
9              Glen Park         10                [3, 10]
10         Powell Street         10               [10, 10]
11           Balboa Park         14               [14, 14]
12                 Colma         14               [14, 14]
13             Daly City         14               [14, 14]
14              Millbrae         14               [42, 14]
15                   SFO         14               [42, 14]
16             San Bruno         14               [42, 14]
17   South San Francisco         14               [14, 14]
18              Bay Fair         23                [9, 23]
19         Castro Valley         23               [48, 23]
20              Coliseum         23               [32, 23]
21                Dublin         23               [48, 23]
22             Fruitvale         23               [32, 23]
23                   OAK         23               [32, 23]
24           San Leandro         23                [9, 23]
25           West Dublin         23               [48, 23]
26           12th Street         29               [25, 29]
27           Embarcadero         29               [29, 29]
28          Lake Merritt         29               [25, 29]
29     Montgomery Street         29               [29, 29]
30          West Oakland         29               [25, 29]
31               Antioch         31               [35, 31]
32               Concord         31               [31, 31]
33         North Concord         31               [31, 31]
34             Pittsburg         31               [35, 31]
35      Pittsburg Center         31               [35, 31]
36         Pleasant Hill         31               [46, 31]
37          Walnut Creek         31               [46, 31]
38             Berryessa         45               [28, 45]
39               Fremont         45               [45, 45]
40               Hayward         45               [23, 45]
41              Milpitas         45               [28, 45]
42         South Hayward         45               [23, 45]
43            Union City         45               [45, 45]
44          Warm Springs         45               [28, 45]
45           19th Street         46                [2, 46]
46             Lafayette         46               [33, 46]
47             MacArthur         46                [2, 46]
48                Orinda         46               [33, 46]
49             Rockridge         46               [33, 46]

# How many communities

In [23]:
query = """

CALL gds.louvain.stream('ds_graph')
YIELD communityId
RETURN count(DISTINCT communityId) AS totalCommunities

"""

my_neo4j_run_query_pandas(query)

   totalCommunities
0                 8