# Testing Neo4j graph on current BART model

University of California, Berkeley

Master of Information and Data Science (MIDS) program

w205 - Fundamentals of Data Engineering

# Included Modules and Packages

Code cell containing your includes for modules and packages

Some starter code is provided

You may change the starter code as needed

You may add as much code and/or as many code cells as you need

In [1]:
import math
import numpy as np
import pandas as pd

import psycopg2

import neo4j

import csv

from geographiclib.geodesic import Geodesic

# Supporting code

Code cells containing any supporting code, such as connecting to the database, any functions, etc.  

Remember you can freely use any code from the labs. You do not need to cite code from the labs.

Some starter code is provided

You may change the starter code as needed

You may add as much code and/or as many code cells as you need

In [2]:
driver = neo4j.GraphDatabase.driver(uri="neo4j://neo4j:7687", auth=("neo4j","ucb_mids_w205"))

In [3]:
session = driver.session(database="neo4j")

In [4]:
def my_neo4j_wipe_out_database():
    "wipe out database by deleting all nodes and relationships"
    
    query = "match (node)-[relationship]->() delete node, relationship"
    session.run(query)
    
    query = "match (node) delete node"
    session.run(query)

In [5]:
def my_select_query_pandas(query, rollback_before_flag, rollback_after_flag):
    "function to run a select query and return rows in a pandas dataframe"
    
    if rollback_before_flag:
        connection.rollback()
    
    df = pd.read_sql_query(query, connection)
    
    if rollback_after_flag:
        connection.rollback()
    
    # fix the float columns that really should be integers
    
    for column in df:
    
        if df[column].dtype == "float64":

            fraction_flag = False

            for value in df[column].values:
                
                if not np.isnan(value):
                    if value - math.floor(value) != 0:
                        fraction_flag = True

            if not fraction_flag:
                df[column] = df[column].astype('Int64')
    
    return(df)

In [6]:
def my_neo4j_create_node(station_name):
    "create a node with label Station"
    
    query = """
    
    CREATE (:Station {name: $station_name})
    
    """
    
    session.run(query, station_name=station_name)

In [7]:
def my_neo4j_create_relationship_two_way(from_station, to_station, weight):
    "create relationships two way between two stations with a weight"
    
    query = """
    
    MATCH (from:Station), 
          (to:Station)
    WHERE from.name = $from_station and to.name = $to_station
    CREATE (from)-[:LINK {weight: $weight}]->(to),
           (to)-[:LINK {weight: $weight}]->(from)
    
    """
    
    session.run(query, from_station=from_station, to_station=to_station, weight=weight)

In [8]:
def my_calculate_box(point, miles):
    "Given a point and miles, calculate the box in form left, right, top, bottom"
    
    geod = Geodesic.WGS84

    kilometers = miles * 1.60934
    meters = kilometers * 1000

    g = geod.Direct(point[0], point[1], 270, meters)
    left = (g['lat2'], g['lon2'])

    g = geod.Direct(point[0], point[1], 90, meters)
    right = (g['lat2'], g['lon2'])

    g = geod.Direct(point[0], point[1], 0, meters)
    top = (g['lat2'], g['lon2'])

    g = geod.Direct(point[0], point[1], 180, meters)
    bottom = (g['lat2'], g['lon2'])
    
    return(left, right, top, bottom)

In [9]:
def my_station_get_zips(station, miles):
    "given a station, pull all zip codes with miles distance, print them, sum the population"
    
    connection.rollback()
    
    query = "select latitude, longitude from stations "
    query += "where station = '" + station + "'"
    
    cursor.execute(query)
    
    connection.rollback()
    
    rows = cursor.fetchall()
    
    for row in rows:
        latitude = row[0]
        longitude = row[1]
        
    point = (latitude, longitude)
        
    (left, right, top, bottom) = my_calculate_box(point, miles)
    
    query = "select zip, population from zip_codes "
    query += " where latitude >= " + str(bottom[0])
    query += " and latitude <= " + str(top [0])
    query += " and longitude >= " + str(left[1])
    query += " and longitude <= " + str(right[1])
    query += " order by 1 "

    cursor.execute(query)
    
    connection.rollback()
    
    rows = cursor.fetchall()
    
    print("\n-------------------------------------------------------------------------------")
    print("  Zip Codes within " + str(miles) + " mile(s) of " + station + " BART Station")
    print("-------------------------------------------------------------------------------\n")
    
    total_population = 0
    
    for row in rows:
        zip = row[0]
        population = row[1]
        print("     zip:", zip, "  population: ", f'{population:10,}')
        total_population += population
        
    
    print("\n-------------------------------------------------------------------------------")
    print("  Total Population: ", f'{total_population:10,}')
    print("-------------------------------------------------------------------------------")

In [10]:
def my_neo4j_number_nodes_relationships():
    "print the number of nodes and relationships"
   
    
    query = """
        match (n) 
        return n.name as node_name, labels(n) as labels
        order by n.name
    """
    
    df = my_neo4j_run_query_pandas(query)
    
    number_nodes = df.shape[0]
    
    
    query = """
        match (n1)-[r]->(n2) 
        return n1.name as node_name_1, labels(n1) as node_1_labels, 
            type(r) as relationship_type, n2.name as node_name_2, labels(n2) as node_2_labels
        order by node_name_1, node_name_2
    """
    
    df = my_neo4j_run_query_pandas(query)
    
    number_relationships = df.shape[0]
    
    print("-------------------------")
    print("  Nodes:", number_nodes)
    print("  Relationships:", number_relationships)
    print("-------------------------")

In [11]:
def my_neo4j_run_query_pandas(query, **kwargs):
    "run a query and return the results in a pandas dataframe"
    
    result = session.run(query, **kwargs)
    
    df = pd.DataFrame([r.values() for r in result], columns=result.keys())
    
    return df

In [12]:
connection = psycopg2.connect(
    user = "postgres",
    password = "ucb",
    host = "postgres",
    port = "5432",
    database = "postgres"
)

In [13]:
cursor = connection.cursor()

# Wipe out the Neo4j database

Call the function my_neo4j_wipe_out_database() to wipe out the Neo4j database

In [14]:
my_neo4j_wipe_out_database()

# Verify the number of nodes and relationships

In [15]:
my_neo4j_number_nodes_relationships()

-------------------------
  Nodes: 0
  Relationships: 0
-------------------------

# Find all zip codes, with population, within 1 mile of the Downtown Berkeley station

Our stations table has each station, along with the latitude and longitude point for the station

The function above my_station_get_zips() takes a station name and X miles (which can be decimal such as 1.5) and finds all zip codes whose geograpic center lies within a box X miles from the station along with the population and the total population

Zip code data is pulled from the zip_codes table

Week 2 has an optional module that covers geodesic distance calculation and how to use the box method

## Since this is the first one, a solution code cell is provided for you to execute and then pattern the rest after

In [16]:
my_station_get_zips('Downtown Berkeley', 1)

-------------------------------------------------------------------------------
  Zip Codes within 1 mile(s) of Downtown Berkeley BART Station
-------------------------------------------------------------------------------

     zip: 94702   population:      17,092
     zip: 94703   population:      21,937
     zip: 94704   population:      29,190
     zip: 94709   population:      11,740
     zip: 94720   population:       2,971

-------------------------------------------------------------------------------
  Total Population:      82,930
-------------------------------------------------------------------------------

# Find all zip codes, with population, within 1, 2, 3, 4, and 5 miles of the Downtown Berkeley station

Write a loop to call the function my_station_get_zips() for each of 1, 2, 3, 4, and 5 miles

In [17]:
for miles in range(1,6):
    my_station_get_zips('Downtown Berkeley', miles)

-------------------------------------------------------------------------------
  Zip Codes within 1 mile(s) of Downtown Berkeley BART Station
-------------------------------------------------------------------------------

     zip: 94702   population:      17,092
     zip: 94703   population:      21,937
     zip: 94704   population:      29,190
     zip: 94709   population:      11,740
     zip: 94720   population:       2,971

-------------------------------------------------------------------------------
  Total Population:      82,930
-------------------------------------------------------------------------------

-------------------------------------------------------------------------------
  Zip Codes within 2 mile(s) of Downtown Berkeley BART Station
-------------------------------------------------------------------------------

     zip: 94618   population:      17,041
     zip: 94702   population:      17,092
     zip: 94703   population:      21,937
     zip: 94704   population:      29,190
     zip: 94705   population:      13,365
     zip: 94706   population:      21,040
     zip: 94707   population:      11,916
     zip: 94709   population:      11,740
     zip: 94710   population:       7,461
     zip: 94720   population:       2,971

-------------------------------------------------------------------------------
  Total Population:     153,753
-------------------------------------------------------------------------------

-------------------------------------------------------------------------------
  Zip Codes within 3 mile(s) of Downtown Berkeley BART Station
-------------------------------------------------------------------------------

     zip: 94608   population:      30,289
     zip: 94609   population:      22,811
     zip: 94618   population:      17,041
     zip: 94702   population:      17,092
     zip: 94703   population:      21,937
     zip: 94704   population:      29,190
     zip: 94705   population:      13,365
     zip: 94706   population:      21,040
     zip: 94707   population:      11,916
     zip: 94708   population:      11,455
     zip: 94709   population:      11,740
     zip: 94710   population:       7,461
     zip: 94720   population:       2,971

-------------------------------------------------------------------------------
  Total Population:     218,308
-------------------------------------------------------------------------------

-------------------------------------------------------------------------------
  Zip Codes within 4 mile(s) of Downtown Berkeley BART Station
-------------------------------------------------------------------------------

     zip: 94530   population:      25,754
     zip: 94608   population:      30,289
     zip: 94609   population:      22,811
     zip: 94611   population:      39,384
     zip: 94618   population:      17,041
     zip: 94702   population:      17,092
     zip: 94703   population:      21,937
     zip: 94704   population:      29,190
     zip: 94705   population:      13,365
     zip: 94706   population:      21,040
     zip: 94707   population:      11,916
     zip: 94708   population:      11,455
     zip: 94709   population:      11,740
     zip: 94710   population:       7,461
     zip: 94720   population:       2,971

-------------------------------------------------------------------------------
  Total Population:     283,446
-------------------------------------------------------------------------------

-------------------------------------------------------------------------------
  Zip Codes within 5 mile(s) of Downtown Berkeley BART Station
-------------------------------------------------------------------------------

     zip: 94530   population:      25,754
     zip: 94563   population:      19,341
     zip: 94602   population:      29,933
     zip: 94607   population:      26,254
     zip: 94608   population:      30,289
     zip: 94609   population:      22,811
     zip: 94610   population:      31,496
     zip: 94611   population:      39,384
     zip: 94612   population:      16,062
     zip: 94618   population:      17,041
     zip: 94702   population:      17,092
     zip: 94703   population:      21,937
     zip: 94704   population:      29,190
     zip: 94705   population:      13,365
     zip: 94706   population:      21,040
     zip: 94707   population:      11,916
     zip: 94708   population:      11,455
     zip: 94709   population:      11,740
     zip: 94710   population:       7,461
     zip: 94720   population:       2,971
     zip: 94804   population:      41,510

-------------------------------------------------------------------------------
  Total Population:     448,042
-------------------------------------------------------------------------------

# Louvain Modularity algorithm

In [18]:
query = "CALL gds.graph.drop('ds_graph', false)"
session.run(query)

query = "CALL gds.graph.project('ds_graph', 'Station', 'LINK', {relationshipProperties: 'weight'})"
session.run(query)

In [19]:
query = """

CALL gds.louvain.stream('ds_graph')
YIELD nodeId, communityId, intermediateCommunityIds
RETURN gds.util.asNode(nodeId).name AS name, communityId as community, intermediateCommunityIds as intermediate_community
ORDER BY community, name ASC

"""

my_neo4j_run_query_pandas(query)

Empty DataFrame
Columns: [name, community, intermediate_community]
Index: []

In [20]:
query = """

CALL gds.louvain.stream('ds_graph')
YIELD nodeId, communityId, intermediateCommunityIds
WITH gds.util.asNode(nodeId) AS node, communityId, intermediateCommunityIds
WHERE communityId = 10
RETURN node.name AS name, communityId AS community, intermediateCommunityIds AS intermediate_community
ORDER BY community, name ASC

"""

my_neo4j_run_query_pandas(query)

Empty DataFrame
Columns: [name, community, intermediate_community]
Index: []

In [21]:
query = """

CALL gds.louvain.stream('ds_graph')
YIELD communityId
RETURN count(DISTINCT communityId) AS totalCommunities

"""

my_neo4j_run_query_pandas(query)

   totalCommunities
0                 0

# Simplified graph for Louvain Modularity

In [22]:
my_neo4j_wipe_out_database()

In [23]:
connection.rollback()

query = """

select station
from stations
order by station

"""

cursor.execute(query)

connection.rollback()

rows = cursor.fetchall()

for row in rows:
    
    station = row[0]
    
    my_neo4j_create_node(station)

# Verifying number of nodes and relationships

In [24]:
my_neo4j_number_nodes_relationships()

-------------------------
  Nodes: 50
  Relationships: 0
-------------------------

# Looking at query

In [25]:
rollback_before_flag = True
rollback_after_flag = True

query = """

(
select distinct a.station as from_station, b.station as to_station, t.travel_time
from lines a
  join lines b
    on a.line = b.line and b.sequence = (a.sequence + 1)
  join travel_times t
    on (a.station = t.station_1 and b.station = t.station_2)
        or (a.station = t.station_2 and b.station = t.station_1)
where a.station < b.station
)
UNION
(
select distinct b.station as from_station, a.station as to_station, t.travel_time
from lines a
  join lines b
    on a.line = b.line and b.sequence = (a.sequence + 1)
  join travel_times t
    on (a.station = t.station_1 and b.station = t.station_2)
        or (a.station = t.station_2 and b.station = t.station_1)
where a.station > b.station
)
order by 1, 2, 3

"""

my_select_query_pandas(query, rollback_before_flag, rollback_after_flag)

            from_station           to_station  travel_time
0            12th Street          19th Street          120
1            12th Street         Lake Merritt          180
2            12th Street         West Oakland          300
3    16th Street Mission  24th Street Mission          120
4    16th Street Mission         Civic Center          180
5            19th Street            MacArthur          180
6    24th Street Mission            Glen Park          180
7                Antioch     Pittsburg Center          420
8                  Ashby    Downtown Berkeley          180
9                  Ashby            MacArthur          240
10           Balboa Park            Daly City          240
11           Balboa Park            Glen Park          120
12              Bay Fair        Castro Valley          240
13              Bay Fair              Hayward          240
14              Bay Fair          San Leandro          240
15             Berryessa             Milpitas          300
16         Castro Valley          West Dublin          600
17          Civic Center        Powell Street           60
18              Coliseum            Fruitvale          240
19              Coliseum                  OAK          480
20              Coliseum          San Leandro          240
21                 Colma            Daly City          240
22                 Colma  South San Francisco          180
23               Concord        North Concord          180
24               Concord        Pleasant Hill          360
25     Downtown Berkeley       North Berkeley          120
26                Dublin          West Dublin          180
27  El Cerrito del Norte     El Cerrito Plaza          180
28  El Cerrito del Norte             Richmond          300
29      El Cerrito Plaza       North Berkeley          180
30           Embarcadero    Montgomery Street           60
31           Embarcadero         West Oakland          420
32               Fremont           Union City          300
33               Fremont         Warm Springs          360
34             Fruitvale         Lake Merritt          300
35               Hayward        South Hayward          240
36             Lafayette               Orinda          300
37             Lafayette         Walnut Creek          300
38          Lake Merritt         West Oakland          360
39             MacArthur            Rockridge          240
40              Millbrae            San Bruno          420
41              Millbrae                  SFO          300
42              Milpitas         Warm Springs          540
43     Montgomery Street        Powell Street          120
44         North Concord            Pittsburg          360
45                Orinda            Rockridge          300
46             Pittsburg     Pittsburg Center          600
47         Pleasant Hill         Walnut Creek          120
48             San Bruno                  SFO          240
49             San Bruno  South San Francisco          240
50         South Hayward           Union City          300

# 1.0 Creating Weights with Daily Entry and Exit Data

## 1.1 Create capacity table

In [26]:
connection.rollback()

query = """

drop table if exists capacity;

"""

cursor.execute(query)

connection.commit()

In [27]:
connection.rollback()

query = """

create table capacity (
    weekday date,
    entry_station varchar(32),
    exit_station varchar(32),
    exits_count numeric(32),
    entry_station_full_name varchar(128),
    exit_station_full_name varchar(128)
);

"""

cursor.execute(query)

connection.commit()

In [28]:
def my_read_csv_file(file_name, limit):
    "read the csv file and print only the first limit rows"
    
    csv_file = open(file_name, "r")
    
    csv_data = csv.reader(csv_file)
    
    i = 0
    
    for row in csv_data:
        i += 1
        if i <= limit:
            print(row)
            
    print("\nPrinted ", min(limit, i), "lines of ", i, "total lines.")
    
my_read_csv_file("BART_entry_exist.csv", limit=10)

['\ufeffweekday', 'entry_station', 'exit_station', 'exits_count', 'entry_station_full_name', 'exit_station_full_name']
['1/1/2020 0:00', 'RM', 'RM', '19.85714286', 'Richmond', 'Richmond']
['1/1/2020 0:00', 'EN', 'RM', '119.5238095', 'El Cerrito Del Norte', 'Richmond']
['1/1/2020 0:00', 'EP', 'RM', '86.61904762', 'El Cerrito Plaza', 'Richmond']
['1/1/2020 0:00', 'NB', 'RM', '70.23809524', 'North Berkeley', 'Richmond']
['1/1/2020 0:00', 'BK', 'RM', '389.5238095', 'Berkeley', 'Richmond']
['1/1/2020 0:00', 'AS', 'RM', '93.47619048', 'Ashby', 'Richmond']
['1/1/2020 0:00', 'MA', 'RM', '140', 'MacArthur', 'Richmond']
['1/1/2020 0:00', '19', 'RM', '168.6190476', '19th Street Oakland', 'Richmond']
['1/1/2020 0:00', '12', 'RM', '183.047619', '12th Street / Oakland City Center', 'Richmond']

Printed  10 lines of  105001 total lines.

## 1.2 Load Capacity CSV

In [29]:
connection.rollback()

query = """

copy capacity
from '/user/projects/project-3-gonz-ga-ds/code/BART_entry_exist.csv' delimiter ',' NULL '' csv header;

"""

cursor.execute(query)

connection.commit()

## 1.3 Concat csv

In [30]:
# get capacity df
rollback_before_flag = True
rollback_after_flag = True

query = """

with entry_station_count as (
                            select
                                    avg(capacity.exits_count) as entry_count_month_avg,
                                    entry_station_full_name as station
                            from capacity
                            group by entry_station_full_name
                            ),
    exit_station_count as (
                            select
                                    avg(capacity.exits_count) as exit_count_month_avg,
                                    exit_station_full_name as station
                            from capacity
                            group by exit_station_full_name
                            )               

select 
        entry_station_count.station as station,
        entry_station_count.entry_count_month_avg,
        exit_station_count.exit_count_month_avg,
        (entry_station_count.entry_count_month_avg + exit_station_count.exit_count_month_avg) as total_monthly_capacity
from entry_station_count join exit_station_count on entry_station_count.station = exit_station_count.station
order by station;

"""

capacity_df = my_select_query_pandas(query, rollback_before_flag, rollback_after_flag)


# Concatenate two df
supplimentary_list = []
def station_name_process(x):
    x = x.strip()
    if "/" in x:
        x1 = x[0:x.find("/")].strip()
        x2 = x[x.find("/")+1:len(x)].strip()
        supplimentary_list.append([x2,x1])
        return x1
    elif x == "Berkeley":
        return "Downtown Berkeley"
    elif x == "Oakland International Airport":
        return "OAK"
    elif x == "19th Street Oakland":
        return "19th Street"
    elif x == "San Francisco International Airport":
        return "SFO"
    else:
        return x

capacity_df["station"] = capacity_df["station"].apply(lambda x:station_name_process(x))


for i in supplimentary_list:
    append_list = capacity_df.loc[capacity_df["station"]==i[1]].values[0]
    append_list[0] = i[0]
    capacity_df.loc[len(capacity_df)+1] = append_list


capacity_df["station_key"] = capacity_df["station"].str.lower()
capacity_df["station_key"] = capacity_df["station_key"].apply(lambda x:x.replace(" ",""))


print(capacity_df)

                 station  entry_count_month_avg  exit_count_month_avg  \
0            12th Street              67.561905             66.128095
1    16th Street Mission              78.913810             79.128571
2            19th Street              61.720952             60.296667
3    24th Street Mission              77.336667             76.186190
4                Antioch              25.208095             25.006190
5                  Ashby              27.212857             26.240000
6            Balboa Park              64.512857             58.516190
7                Bayfair              37.126667             37.597619
8      Downtown Berkeley              63.204286             66.143333
9              Berryessa              11.439524             11.944286
10         Castro Valley              15.731905             15.744286
11          Civic Center             137.214762            127.136190
12              Coliseum              39.727619             39.750000
13                 Colma              23.267143             22.926190
14               Concord              34.946190             34.804762
15             Daly City              56.321905             57.503810
16                Dublin              37.671429             37.043810
17  El Cerrito Del Norte              52.122857             53.612381
18      El Cerrito Plaza              27.495238             27.706667
19           Embarcadero             186.275238            214.303333
20               Fremont              25.887143             26.384762
21             Fruitvale              59.342857             59.308095
22             Glen Park              43.037619             41.303333
23               Hayward              31.268095             31.310952
24             Lafayette              17.650000             17.690952
25          Lake Merritt              41.017619             42.088095
26             MacArthur              52.001905             51.069524
27              Millbrae              26.632857             25.535714
28              Milpitas               9.512857              9.532381
29     Montgomery Street             169.562857            193.649048
30        North Berkeley              22.619048             22.065238
31         North Concord               9.736667              9.214286
32                   OAK               9.751429              8.675714
33                Orinda              14.353333             13.802381
34             Pittsburg              26.812381             27.096667
35      Pittsburg Center               9.498095              8.803810
36         Pleasant Hill              33.241429             32.946667
37         Powell Street             175.699524            154.287143
38              Richmond              35.347619             34.240952
39             Rockridge              27.541429             28.320000
40             San Bruno              19.659524             20.406667
41                   SFO              47.023810             40.827619
42           San Leandro              43.978095             44.327143
43         South Hayward              20.963333             20.079048
44   South San Francisco              18.861905             19.181429
45            Union City              24.467619             24.159048
46          Walnut Creek              33.053810             33.574762
47          Warm Springs              17.434286             16.412381
48           West Dublin              15.259524             15.799524
49          West Oakland              49.066667             45.483333
51   Oakland City Center              67.561905             66.128095
52        North San José              11.439524             11.944286
53            Pleasanton              37.671429             37.043810
54             Bay Point              26.812381             27.096667
55            Pleasanton              15.259524             15.799524

    total_monthly_capacity        station_key
0               133.690000         12thstreet
1               158.042381  16thstreetmission
2               122.017619         19thstreet
3               153.522857  24thstreetmission
4                50.214286            antioch
5                53.452857              ashby
6               123.029048         balboapark
7                74.724286            bayfair
8               129.347619   downtownberkeley
9                23.383810          berryessa
10               31.476190       castrovalley
11              264.350952        civiccenter
12               79.477619           coliseum
13               46.193333              colma
14               69.750952            concord
15              113.825714           dalycity
16               74.715238             dublin
17              105.735238  elcerritodelnorte
18               55.201905     elcerritoplaza
19              400.578571        embarcadero
20               52.271905            fremont
21              118.650952          fruitvale
22               84.340952           glenpark
23               62.579048            hayward
24               35.340952          lafayette
25               83.105714        lakemerritt
26              103.071429          macarthur
27               52.168571           millbrae
28               19.045238           milpitas
29              363.211905   montgomerystreet
30               44.684286      northberkeley
31               18.950952       northconcord
32               18.427143                oak
33               28.155714             orinda
34               53.909048          pittsburg
35               18.301905    pittsburgcenter
36               66.188095       pleasanthill
37              329.986667       powellstreet
38               69.588571           richmond
39               55.861429          rockridge
40               40.066190           sanbruno
41               87.851429                sfo
42               88.305238         sanleandro
43               41.042381       southhayward
44               38.043333  southsanfrancisco
45               48.626667          unioncity
46               66.628571        walnutcreek
47               33.846667        warmsprings
48               31.059048         westdublin
49               94.550000        westoakland
51              133.690000  oaklandcitycenter
52               23.383810       northsanjosé
53               74.715238         pleasanton
54               53.909048           baypoint
55               31.059048         pleasanton

## 1.4 Creating a relationship - With Exit dataset weight or without

In [31]:
weight_consideration = True # replace with False if do not want to use.
factor_1 = 1
factor_2 = 1

In [32]:
connection.rollback()

query = """

(
select distinct a.station as from_station, b.station as to_station, t.travel_time
from lines a
  join lines b
    on a.line = b.line and b.sequence = (a.sequence + 1)
  join travel_times t
    on (a.station = t.station_1 and b.station = t.station_2)
        or (a.station = t.station_2 and b.station = t.station_1)
where a.station < b.station
)
UNION
(
select distinct b.station as from_station, a.station as to_station, t.travel_time
from lines a
  join lines b
    on a.line = b.line and b.sequence = (a.sequence + 1)
  join travel_times t
    on (a.station = t.station_1 and b.station = t.station_2)
        or (a.station = t.station_2 and b.station = t.station_1)
where a.station > b.station
)
order by 1, 2, 3

"""

cursor.execute(query)

connection.rollback()

rows = cursor.fetchall()

for row in rows:
    
    from_station = row[0]
    to_station = row[1]
    to_station_key = to_station.lower().replace(" ","")
    # find the total_daily_exit_number for to_station
    daily_exit_number = float(capacity_df.loc[capacity_df["station_key"] == to_station_key,"total_monthly_capacity"].values[0])
    travel_time = int(row[2])
    # compute the weight
    factor_1 = 1
    factor_2 = 1
    weight = (factor_1 * (1/travel_time)) + (factor_2 * daily_exit_number)
    if weight_consideration == True:
        my_neo4j_create_relationship_two_way(from_station, to_station, weight)
    else:
        my_neo4j_create_relationship_two_way(from_station, to_station, travel_time)

## 1.5 Verifying the number of nodes and relationships

In [33]:
my_neo4j_number_nodes_relationships()

-------------------------
  Nodes: 50
  Relationships: 102
-------------------------

## 1.6 Closeness Centrality

In [34]:
def my_neo4j_nodes_relationships():
    "print all the nodes and relationships"
   
    print("-------------------------")
    print("  Nodes:")
    print("-------------------------")
    
    query = """
        match (n) 
        return n.name as node_name, labels(n) as labels
        order by n.name
    """
    
    df = my_neo4j_run_query_pandas(query)
    
    number_nodes = df.shape[0]
    
    display(df)
    
    print("-------------------------")
    print("  Relationships:")
    print("-------------------------")
    
    query = """
        match (n1)-[r]->(n2) 
        return n1.name as node_name_1, labels(n1) as node_1_labels, 
            type(r) as relationship_type, n2.name as node_name_2, labels(n2) as node_2_labels
        order by node_name_1, node_name_2
    """
    
    df = my_neo4j_run_query_pandas(query)
    
    number_relationships = df.shape[0]
    
    display(df)
    
    density = (2 * number_relationships) / (number_nodes * (number_nodes - 1))
    
    print("-------------------------")
    print("  Density:", f'{density:.1f}')
    print("-------------------------")

In [35]:
my_neo4j_nodes_relationships()

-------------------------
  Nodes:
-------------------------

               node_name     labels
0            12th Street  [Station]
1    16th Street Mission  [Station]
2            19th Street  [Station]
3    24th Street Mission  [Station]
4                Antioch  [Station]
5                  Ashby  [Station]
6            Balboa Park  [Station]
7               Bay Fair  [Station]
8              Berryessa  [Station]
9          Castro Valley  [Station]
10          Civic Center  [Station]
11              Coliseum  [Station]
12                 Colma  [Station]
13               Concord  [Station]
14             Daly City  [Station]
15     Downtown Berkeley  [Station]
16                Dublin  [Station]
17      El Cerrito Plaza  [Station]
18  El Cerrito del Norte  [Station]
19           Embarcadero  [Station]
20               Fremont  [Station]
21             Fruitvale  [Station]
22             Glen Park  [Station]
23               Hayward  [Station]
24             Lafayette  [Station]
25          Lake Merritt  [Station]
26             MacArthur  [Station]
27              Millbrae  [Station]
28              Milpitas  [Station]
29     Montgomery Street  [Station]
30        North Berkeley  [Station]
31         North Concord  [Station]
32                   OAK  [Station]
33                Orinda  [Station]
34             Pittsburg  [Station]
35      Pittsburg Center  [Station]
36         Pleasant Hill  [Station]
37         Powell Street  [Station]
38              Richmond  [Station]
39             Rockridge  [Station]
40                   SFO  [Station]
41             San Bruno  [Station]
42           San Leandro  [Station]
43         South Hayward  [Station]
44   South San Francisco  [Station]
45            Union City  [Station]
46          Walnut Creek  [Station]
47          Warm Springs  [Station]
48           West Dublin  [Station]
49          West Oakland  [Station]

-------------------------
  Relationships:
-------------------------

,node_name_1,node_1_labels,relationship_type,node_name_2,node_2_labels
0,12th Street,[Station],LINK,19th Street,[Station]
1,12th Street,[Station],LINK,Lake Merritt,[Station]
2,12th Street,[Station],LINK,West Oakland,[Station]
3,16th Street Mission,[Station],LINK,24th Street Mission,[Station]
4,16th Street Mission,[Station],LINK,Civic Center,[Station]
...,...,...,...,...,...
97,West Dublin,[Station],LINK,Castro Valley,[Station]
98,West Dublin,[Station],LINK,Dublin,[Station]
99,West Oakland,[Station],LINK,12th Street,[Station]
100,West Oakland,[Station],LINK,Embarcadero,[Station]
101,West Oakland,[Station],LINK,Lake Merritt,[Station]

-------------------------
  Density: 0.1
-------------------------

In [36]:
query = "CALL gds.graph.drop('ds_graph', false)"
session.run(query)

query = "CALL gds.graph.project('ds_graph', 'Station', 'LINK', {relationshipProperties: 'weight'})"
session.run(query)

In [37]:
query = """

CALL gds.beta.closeness.stream('ds_graph')
YIELD nodeId, score
RETURN gds.util.asNode(nodeId).name AS name, score as closeness
ORDER BY score DESC

"""

my_neo4j_run_query_pandas(query)

                    name  closeness
0            12th Street   0.147147
1           Lake Merritt   0.145833
2           West Oakland   0.145401
3            19th Street   0.141210
4              Fruitvale   0.137640
5            Embarcadero   0.136490
6              MacArthur   0.134986
7               Coliseum   0.129630
8      Montgomery Street   0.127937
9              Rockridge   0.124682
10                 Ashby   0.122195
11           San Leandro   0.121287
12         Powell Street   0.119804
13                Orinda   0.115294
14                   OAK   0.115023
15              Bay Fair   0.113426
16          Civic Center   0.112128
17     Downtown Berkeley   0.111111
18             Lafayette   0.106754
19   16th Street Mission   0.104925
20               Hayward   0.104701
21         Castro Valley   0.102941
22        North Berkeley   0.101449
23          Walnut Creek   0.098990
24   24th Street Mission   0.098196
25         South Hayward   0.096838
26           West Dublin   0.093870
27      El Cerrito Plaza   0.092979
28             Glen Park   0.091932
29         Pleasant Hill   0.091932
30            Union City   0.089744
31           Balboa Park   0.086116
32                Dublin   0.085965
33               Concord   0.085515
34  El Cerrito del Norte   0.085515
35               Fremont   0.083333
36             Daly City   0.080725
37         North Concord   0.079675
38              Richmond   0.078905
39          Warm Springs   0.077532
40                 Colma   0.075734
41             Pittsburg   0.074355
42              Milpitas   0.072271
43   South San Francisco   0.071118
44      Pittsburg Center   0.069504
45             Berryessa   0.067493
46             San Bruno   0.066849
47               Antioch   0.065073
48                   SFO   0.062821
49              Millbrae   0.062821

## 1.7 Betweenness Centrality

In [38]:
query = "CALL gds.graph.drop('ds_graph', false)"
session.run(query)

query = "CALL gds.graph.project('ds_graph', 'Station', 'LINK', {relationshipProperties: 'weight'})"
session.run(query)

In [39]:
query = """

CALL gds.betweenness.stream('ds_graph')
YIELD nodeId, score
RETURN gds.util.asNode(nodeId).name AS name, score as betweenness
ORDER BY betweenness DESC

"""

my_neo4j_run_query_pandas(query)

                    name  betweenness
0              MacArthur       1176.0
1            12th Street       1116.0
2            19th Street       1088.0
3           Lake Merritt       1020.0
4           West Oakland        980.0
5              Fruitvale        980.0
6               Coliseum        960.0
7            Embarcadero        936.0
8      Montgomery Street        888.0
9          Powell Street        836.0
10           San Leandro        836.0
11              Bay Fair        822.0
12          Civic Center        780.0
13   16th Street Mission        720.0
14             Rockridge        720.0
15   24th Street Mission        656.0
16                Orinda        656.0
17             Glen Park        588.0
18             Lafayette        588.0
19          Walnut Creek        516.0
20           Balboa Park        516.0
21               Hayward        516.0
22         South Hayward        440.0
23                 Ashby        440.0
24             Daly City        440.0
25         Pleasant Hill        440.0
26            Union City        360.0
27                 Colma        360.0
28               Concord        360.0
29     Downtown Berkeley        360.0
30   South San Francisco        276.0
31               Fremont        276.0
32        North Berkeley        276.0
33         North Concord        276.0
34          Warm Springs        188.0
35         Castro Valley        188.0
36      El Cerrito Plaza        188.0
37             Pittsburg        188.0
38             San Bruno        188.0
39           West Dublin         96.0
40  El Cerrito del Norte         96.0
41              Milpitas         96.0
42      Pittsburg Center         96.0
43                   SFO          0.0
44               Antioch          0.0
45             Berryessa          0.0
46                Dublin          0.0
47              Millbrae          0.0
48                   OAK          0.0
49              Richmond          0.0

# 2.0 Louvain Modularity algorithm on simplified graph

In [40]:
my_neo4j_number_nodes_relationships()

-------------------------
  Nodes: 50
  Relationships: 102
-------------------------

In [41]:
query = "CALL gds.graph.drop('ds_graph', false)"
session.run(query)

query = "CALL gds.graph.project('ds_graph', 'Station', 'LINK', {relationshipProperties: 'weight'})"
session.run(query)

In [42]:
query = """

CALL gds.louvain.stream('ds_graph', {includeIntermediateCommunities: true})
YIELD nodeId, communityId, intermediateCommunityIds
RETURN gds.util.asNode(nodeId).name AS name, communityId as community, intermediateCommunityIds as intermediate_community
ORDER BY community, name ASC

"""

my_neo4j_run_query_pandas(query)

                    name  community intermediate_community
0            12th Street          8                 [8, 8]
1            19th Street          8                 [8, 8]
2            Embarcadero          8                [27, 8]
3              Fruitvale          8                [33, 8]
4           Lake Merritt          8                [33, 8]
5           West Oakland          8                [27, 8]
6               Bay Fair         17               [17, 17]
7          Castro Valley         17               [17, 17]
8               Coliseum         17               [40, 17]
9                 Dublin         17               [24, 17]
10                   OAK         17               [40, 17]
11           San Leandro         17               [40, 17]
12           West Dublin         17               [24, 17]
13           Balboa Park         20               [22, 20]
14                 Colma         20               [20, 20]
15             Daly City         20               [22, 20]
16              Millbrae         20               [35, 20]
17                   SFO         20               [35, 20]
18             San Bruno         20               [35, 20]
19   South San Francisco         20               [20, 20]
20   16th Street Mission         22               [11, 22]
21   24th Street Mission         22               [11, 22]
22          Civic Center         22               [45, 22]
23             Glen Park         22               [11, 22]
24     Montgomery Street         22               [45, 22]
25         Powell Street         22               [45, 22]
26             Berryessa         28               [36, 28]
27               Fremont         28               [28, 28]
28               Hayward         28                [3, 28]
29              Milpitas         28               [36, 28]
30         South Hayward         28                [3, 28]
31            Union City         28                [3, 28]
32          Warm Springs         28               [28, 28]
33               Antioch         39               [43, 39]
34               Concord         39               [39, 39]
35             Lafayette         39               [32, 39]
36         North Concord         39               [39, 39]
37             Pittsburg         39               [43, 39]
38      Pittsburg Center         39               [43, 39]
39         Pleasant Hill         39               [32, 39]
40          Walnut Creek         39               [32, 39]
41                 Ashby         46               [23, 46]
42     Downtown Berkeley         46               [23, 46]
43      El Cerrito Plaza         46               [46, 46]
44  El Cerrito del Norte         46               [46, 46]
45             MacArthur         46               [47, 46]
46        North Berkeley         46               [23, 46]
47                Orinda         46               [47, 46]
48              Richmond         46               [46, 46]
49             Rockridge         46               [47, 46]

## 2.2 How many communities

In [43]:
query = """

CALL gds.louvain.stream('ds_graph')
YIELD communityId
RETURN count(DISTINCT communityId) AS totalCommunities

"""

my_neo4j_run_query_pandas(query)

   totalCommunities
0                 7

## 2.3 Compute the capacity for each community

In [44]:
# get capacity df
rollback_before_flag = True
rollback_after_flag = True

query = """

with entry_station_count as (
                            select
                                    avg(capacity.exits_count) as entry_count_month_avg,
                                    entry_station_full_name as station
                            from capacity
                            group by entry_station_full_name
                            ),
    exit_station_count as (
                            select
                                    avg(capacity.exits_count) as exit_count_month_avg,
                                    exit_station_full_name as station
                            from capacity
                            group by exit_station_full_name
                            )               

select 
        entry_station_count.station as station,
        entry_station_count.entry_count_month_avg,
        exit_station_count.exit_count_month_avg,
        (entry_station_count.entry_count_month_avg + exit_station_count.exit_count_month_avg) as total_monthly_capacity
from entry_station_count join exit_station_count on entry_station_count.station = exit_station_count.station
order by station;

"""

capacity_df = my_select_query_pandas(query, rollback_before_flag, rollback_after_flag)

# get community df
query = """

CALL gds.louvain.stream('ds_graph', {includeIntermediateCommunities: true})
YIELD nodeId, communityId, intermediateCommunityIds
RETURN gds.util.asNode(nodeId).name AS name, communityId as community, intermediateCommunityIds as intermediate_community
ORDER BY community, name ASC

"""

community_df = my_neo4j_run_query_pandas(query)

# Concatenate two df
supplimentary_list = []
def station_name_process(x):
    x = x.strip()
    if "/" in x:
        x1 = x[0:x.find("/")].strip()
        x2 = x[x.find("/")+1:len(x)].strip()
        supplimentary_list.append([x2,x1])
        return x1
    elif x == "Berkeley":
        return "Downtown Berkeley"
    elif x == "Oakland International Airport":
        return "OAK"
    elif x == "19th Street Oakland":
        return "19th Street"
    elif x == "San Francisco International Airport":
        return "SFO"
    else:
        return x

capacity_df["station"] = capacity_df["station"].apply(lambda x:station_name_process(x))


for i in supplimentary_list:
    append_list = capacity_df.loc[capacity_df["station"]==i[1]].values[0]
    append_list[0] = i[0]
    capacity_df.loc[len(capacity_df)+1] = append_list

community_df["station_key"] = community_df["name"].str.lower()
community_df["station_key"] = community_df["station_key"].apply(lambda x:x.replace(" ",""))
capacity_df["station_key"] = capacity_df["station"].str.lower()
capacity_df["station_key"] = capacity_df["station_key"].apply(lambda x:x.replace(" ",""))

community_capcity_df = pd.merge(left=community_df,right=capacity_df,on="station_key",how="left",indicator=False)

community_capcity_full = community_capcity_df.copy()
community_capcity_full = community_capcity_full.groupby("community").sum()
community_capcity_full = community_capcity_full.sort_values("total_monthly_capacity")
community_capcity_full

           entry_count_month_avg  exit_count_month_avg  total_monthly_capacity
community
28                    140.972857            139.822857              280.795714
39                    190.146667            189.138095              379.284762
17                    199.246667            198.938095              398.184762
20                    256.280000            244.897619              501.177619
46                    321.898571            323.200476              645.099048
8                     464.985238            487.607619              952.592857
22                    681.765238            671.690476             1353.455714

# 3.0 Find shortest Path

In [45]:
def my_neo4j_number_nodes_relationships():
    "print the number of nodes and relationships"
   
    
    query = """
        match (n) 
        return n.name as node_name, labels(n) as labels
        order by n.name
    """
    
    df = my_neo4j_run_query_pandas(query)
    
    number_nodes = df.shape[0]
    
    
    query = """
        match (n1)-[r]->(n2) 
        return n1.name as node_name_1, labels(n1) as node_1_labels, 
            type(r) as relationship_type, n2.name as node_name_2, labels(n2) as node_2_labels
        order by node_name_1, node_name_2
    """
    
    
    df = my_neo4j_run_query_pandas(query)
    
    number_relationships = df.shape[0]
    
    print("-------------------------")
    print("  Nodes:", number_nodes)
    print("  Relationships:", number_relationships)
    print("-------------------------")

In [46]:
def my_neo4j_create_relationship_one_way(from_station, to_station, weight):
    "create a relationship one way between two stations with a weight"
    
    query = """
    
    MATCH (from:Station), 
          (to:Station)
    WHERE from.name = $from_station and to.name = $to_station
    CREATE (from)-[:LINK {weight: $weight}]->(to)
    
    """
    
    session.run(query, from_station=from_station, to_station=to_station, weight=weight)

In [47]:
def my_neo4j_create_relationship_two_way(from_station, to_station, weight):
    "create relationships two way between two stations with a weight"
    
    query = """
    
    MATCH (from:Station), 
          (to:Station)
    WHERE from.name = $from_station and to.name = $to_station
    CREATE (from)-[:LINK {weight: $weight}]->(to),
           (to)-[:LINK {weight: $weight}]->(from)
    
    """
    
    session.run(query, from_station=from_station, to_station=to_station, weight=weight)

In [48]:
my_neo4j_wipe_out_database()

In [49]:
my_neo4j_number_nodes_relationships()

-------------------------
  Nodes: 0
  Relationships: 0
-------------------------

In [50]:
## 3.1 Creating a relationship - With Exit dataset weight or without

In [51]:
weight_consideration = True # replace with False if do not want to use.
factor_1 = 1
factor_2 = 1

In [52]:
connection.rollback()

query = """

select station
from stations
order by station

"""

cursor.execute(query)

connection.rollback()

rows = cursor.fetchall()

for row in rows:
    
    station = row[0]
    
    my_neo4j_create_node('depart ' + station)
    my_neo4j_create_node('arrive ' + station)

In [53]:
connection.rollback()

query = """

select station, line
from lines
order by station, line

"""

cursor.execute(query)

connection.rollback()

rows = cursor.fetchall()

for row in rows:
    
    station = row[0]
    line = row[1]
    
    depart = 'depart ' + station
    arrive = 'arrive ' + station
    line_station = line + ' ' + station
    
    my_neo4j_create_node(line_station)
    my_neo4j_create_relationship_one_way(depart, line_station, 0)
    my_neo4j_create_relationship_one_way(line_station, arrive, 0)

In [54]:
my_neo4j_number_nodes_relationships()

-------------------------
  Nodes: 214
  Relationships: 228
-------------------------

In [55]:
connection.rollback()

query = """

select a.station, a.line as from_line, b.line as to_line, s.transfer_time
from lines a
     join lines b
       on a.station = b.station and a.line <> b.line 
     join stations s
       on a.station = s.station
order by 1, 2, 3

"""

cursor.execute(query)

connection.rollback()

rows = cursor.fetchall()

for row in rows:
    
    station = row[0]
    from_line = row[1]
    to_line = row[2]
    transfer_time = int(row[3])
    
    from_station = from_line + ' ' + station
    to_station = to_line + ' ' + station
    
    # === Create Weights
    to_station_key = station.lower().replace(" ","")
    # find the total_daily_exit_number for to_station
    daily_exit_number = float(capacity_df.loc[capacity_df["station_key"] == to_station_key,"total_monthly_capacity"].values[0])
    # compute the weight
    factor_1 = 1
    factor_2 = 1
    weight = (factor_1 * (1/transfer_time)) + (factor_2 * daily_exit_number)
    if weight_consideration == True:
        my_neo4j_create_relationship_one_way(from_station, to_station, weight)
    else:
        my_neo4j_create_relationship_one_way(from_station, to_station, transfer_time)

In [56]:
my_neo4j_number_nodes_relationships()

-------------------------
  Nodes: 214
  Relationships: 436
-------------------------

In [57]:
connection.rollback()

query = """

select a.line, a.station as from_station, b.station as to_station, t.travel_time
from lines a
  join lines b
    on a.line = b.line and b.sequence = (a.sequence + 1)
  join travel_times t
    on (a.station = t.station_1 and b.station = t.station_2)
        or (a.station = t.station_2 and b.station = t.station_1)
order by line, from_station, to_station

"""

cursor.execute(query)

connection.rollback()

rows = cursor.fetchall()

for row in rows:
    
    line = row[0]
    from_station = line + ' ' + row[1]
    to_station = line + ' ' + row[2]
    travel_time = int(row[3])

    # === Create Weights
    to_station_key = row[2].lower().replace(" ","")
    # find the total_daily_exit_number for to_station
    daily_exit_number = float(capacity_df.loc[capacity_df["station_key"] == to_station_key,"total_monthly_capacity"].values[0])
    # compute the weight
    factor_1 = 1
    factor_2 = 1
    weight = (factor_1 * (1/transfer_time)) + (factor_2 * daily_exit_number)
    if weight_consideration == True:
        my_neo4j_create_relationship_two_way(from_station, to_station, weight)
    else:
        my_neo4j_create_relationship_two_way(from_station, to_station, transfer_time)

In [58]:
my_neo4j_number_nodes_relationships()

-------------------------
  Nodes: 214
  Relationships: 652
-------------------------

In [59]:
def my_neo4j_shortest_path(from_station, to_station):
    "given a from station and to station, run and print the shortest path"
    
    query = "CALL gds.graph.drop('ds_graph', false)"
    session.run(query)

    query = "CALL gds.graph.project('ds_graph', 'Station', 'LINK', {relationshipProperties: 'weight'})"
    session.run(query)

    query = """

    MATCH (source:Station {name: $source}), (target:Station {name: $target})
    CALL gds.shortestPath.dijkstra.stream(
        'ds_graph', 
        { sourceNode: source, 
          targetNode: target, 
          relationshipWeightProperty: 'weight'
        }
    )
    YIELD index, sourceNode, targetNode, totalCost, nodeIds, costs, path
    RETURN
        gds.util.asNode(sourceNode).name AS from,
        gds.util.asNode(targetNode).name AS to,
        totalCost,
        [nodeId IN nodeIds | gds.util.asNode(nodeId).name] AS nodes,
        costs
    ORDER BY index

    """

    result = session.run(query, source=from_station, target=to_station)
    
#     for r in result:
        
#         total_cost = int(r['totalCost'])
        
#         print("\n--------------------------------")
#         print("   Total Cost: ", total_cost)
#         print("   Minutes: ", round(total_cost / 60.0,1))
#         print("--------------------------------")
        
#         nodes = r['nodes']
#         costs = r['costs']
        
#         i = 0
#         previous = 0
        
#         for n in nodes:
            
#             print(n + ", " + str(int(costs[i]) - previous)  + ", " + str(int(costs[i])))
            
#             previous = int(costs[i])
#             i += 1
    for r in result:
        total_cost = int(r['totalCost'])
    return round(total_cost / 60.0,1)

In [60]:
delivery_station_df = community_capcity_df[['name' , 'community', 'total_monthly_capacity']].groupby(['community']).max()
from_stations = []
to_stations = []
time = []
from_station = delivery_station_df.loc[delivery_station_df['total_monthly_capacity'].idxmax()]['name']
for to_station in delivery_station_df['name'].to_list():
    if from_station != to_station:
        from_stations.append(from_station)
        to_stations.append(to_station)
        time.append(my_neo4j_shortest_path('depart ' + from_station, 'arrive ' + to_station))
delivery_df = pd.DataFrame({'From Station': from_stations, 'To Station': to_stations,
                            'Time (min)': time })
delivery_df.sort_values(['Time (min)'])

   From Station           To Station  Time (min)
5  West Oakland            Rockridge         7.5
0  West Oakland          West Dublin         9.5
4  West Oakland         Walnut Creek         9.5
3  West Oakland         Warm Springs        12.4
2  West Oakland        Powell Street        18.2
1  West Oakland  South San Francisco        34.6